{% load static %}
<link rel="stylesheet" href="{% static 'css/new_account.css' %}">

{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}
  
<div class="new_body" style="height:100vh">
  <button id="back" onclick = "location.href = '{{ request.META.HTTP_REFERER }}' "><img style="width: 50px;" src="../../static/images/back.png"/></button>
  <div class="row justify-content-center h-100"> 
      <div>
        <br>
       <p id="newTitle">회원가입</p>
       <p id="intro">간단한 회원가입을 통해 CallSign을 이용해보세요</p>
        <div class="card-body">

      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
       {% csrf_token %}
        {{ form.as_p }}
     
       {% if redirect_field_value %}
       <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /><br>
       <form class="new_form" action="{% url 'accounts:information' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
   
       {% endif %}
       <button class="primaryAction" id="signUp_button" type="submit">가입 완료하기</button>
        </form>
        <div id="have_account">
          <a>{% blocktrans %}이미 계정이 있으신가요?<br/>
          <a href="{{ login_url }}" style="color: rgb(0, 0, 0); text-decoration: underline;">로그인하기</a>{% endblocktrans %}</a>
        </div>
        </div>
      </div>
  </div>
</div>



{% endblock %}
