{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style_list.css' %}">

<div id="list_body">
    {% for b in badminton_list %}
    {%if b.flag_enddate == False %}
    <br>
    <p id="endDate">{{b.end_date}}</p>
    {%endif%}
        <div id="list">
            <p id="list_title">{{b.title}}</p>
            <!-- {{b.summary}}<br> -->
            <p id="time">{{b.start_time}} ~ {{b.end_time}}</p>
            <!-- 성별 : {{v.sex}}<br> -->
            <a href = "{%url 'post:post_detail' b.id%}">참여하기</a>
        </div>
    {% endfor %}

    <a href="{% url 'post:completed_badminton_list'%}"> 완료된 게시글 보기</a>
    <a href="{% url 'post:badminton_list' %}"> 모집중인 게시글 보기</a>
</div>
{% endblock %}