{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style_list.css' %}">

<div id="list_body">
    {% for b in badminton_list %}
    {%if b.flag_enddate == False %}
    <p id="endDate">{{b.end_date}}</p>
    {%endif%}
        <div id="list">
            <p id="list_title">{{b.title}}</p>
            <!-- {{b.summary}}<br> -->
            <div id="list_content">
                <p id="time">{{s.start_time}} ~ {{s.end_time}}</p>
                <!-- 성별 : {{b.sex}}<br> -->
                <a href = "{%url 'post:post_detail' b.id%}"><button id="joinButton">자세히보기</button></a><br/><br/>
            </div>
        </div>
    {% endfor %}

    <a id="completed_post" href="{% url 'post:completed_badminton_list'%}"> 완료된 게시글 보기</a>
    <a id="ing_post" href="{% url 'post:badminton_list' %}"> 모집중인 게시글 보기</a>
</div>
{% endblock %}