{% extends 'base.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style_list.css' %}">

{% for b in baseball_list %}
{%if b.flag_enddate == False %}
<br>
모집 마감일 - {{b.end_date}}
{%endif%}
    <div>
    <h3>{{b.title}}</h3><br>
    {{b.summary}}<br>
    모집 시간대 : {{b.start_time}} ~ {{b.end_time}}<br>
    성별 : {{b.sex}}<br>
    <a href = "{%url 'post:post_detail' b.id%}">참여하기</a>
    </div>
{% endfor %} 
<a href="{% url 'post:completed_baseball_list' %}"> 완료된 게시글 보기</a>
<a href="{% url 'post:baseball_list' %}"> 모집중인 게시글 보기</a>
{% endblock %}