{% extends 'base.html' %}

{% block content %}

<h1>기타 게시글만 보이는 곳</h1>

{% for e in etc_list %}
{%if e.flag_enddate == False %}
<br>
모집 마감일 - {{e.end_date}}
{%endif%}
    <div>
    <h3>{{e.title}}</h3><br>
    {{e.summary}}<br>
    모집 시간대 :{{e.start_time}} ~ {{e.end_time}}<br>
    성별 : {{e.sex}}<br>
    <a href = "{%url 'post:post_detail' e.id%}">참여하기</a>
    </div>
{% endfor %} 

<a href="{% url 'post:completed_etc_list'%}"> 완료된 게시글 보기</a>
<a href="{% url 'post:etc_list'%}"> 모집중인 게시글 보기</a>
{% endblock %}