{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="new_body">
<button id="back"><img style="width: 50px;" src="../../static/images/back.png"/></button>

<!-- <a href="../../../callsign/templates/base.html" -->
<h1 id="newTitle">새 팀원 모집하기</h1> 

<div class="select_exercise">
  <label for="exercise">
  종목
  </label><br/>
  <select id="exercise" name="exercise">
  <option value="">------ 선택하세요 ------</option>
  {% for e in exercise %}
  <option value="{{e.id}}">{{ e.name}} </option>
  {% endfor %}

  </select>
</div>

<hr/>

{% comment %} 성별, 운동하는 날, 작성자 추가 {% endcomment %}
<form action="{%url 'post:post_create'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <p id="endDate">일시(모집마감일..?)<br/><input type="text" name="end_date" placeholder="YYYY-MM-DD 형식이어야 합니다." style="width:230px;"/></p> 
    <hr/>

    <div class="select_sex">
      <label for="sex">
      성별
      </label><br/>
      <select id="sex" name="sex">
      <option value="">------ 선택하세요 ------</option>
      {% for s in sex %}
      <option value="{{s.id}}">{{ s.name}} </option>
      {% endfor %}

      </select>
    </div>
    <hr/>

    <p id="count">
      모집 인원 <br/></p>
      <p id="">
      A팀 <input type="text" name="needCount" placeholder="모집인원"/> / <input type="text" name="allCount" placeholder="전체인원"/><br/>
      B팀 <input type="text" name="needCount" placeholder="모집인원"/> / <input type="text" name="allCount" placeholder="전체인원"/></p>
      <hr/>

    <p id="chatURL">방장님 오픈채팅 url(자세한 이야기는 여기서!🔐)<br/><input type="text" name="url" /></p> 
    <hr/>

    <p id="new_post_title">제목<br/><input type="text" name="title" /></p> 
    <hr/>

    <p id="new_post_content">
      내용<br>
      <textarea type="text" name="body" id="" cols="30" rows="10"></textarea>
    </p>
  
    <button type="submit">등록 완료하기</button>
  </form>
  
  </form>
</div>
