<style>

  @font-face {
    font-family: Montserrat_EBI;
    src: url(../font/Montserrat-ExtraBoldItalic.ttf);
  }

  @font-face {
      font-family: NotoSansKR-Bold;
      src: url(../font/NotoSansKR-Bold.otf);
  }

  @font-face {
      font-family: NotoSansKR-Regular;
      src: url(../font/NotoSansKR-Regular.otf);
  }

  .outside{
    padding: 10px;
    border: none;
    background-color: #4B70F3;
    border-radius: 10px;
    border-color : #4B70F3;
    font-size: 16px;
    color:white;
    outline: none;
    cursor: pointer;
  }
  
  .outside-finish{
    border: none;
    background-color: #DADADA;
    border-radius: 10px;
    border-color : #DADADA;
    font-size: 16px;
    color: white;
    outline: none;
    pointer-events: none;
    padding: 10px;
    width: 92%;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px;
    margin: 10px;
    float : left;
    border: none;
    background-color: #4B70F3;
    border-radius: 10px;
    font-size: 13px;
    color: #fff;
    outline: none;
    cursor: pointer;
    width: 92%;
    font-family: NotoSansKR-Bold;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
    color : black;
  }

  #edit_post{
    text-decoration: none;
    color : #969696;
  }

  #edit_post:active{
    text-decoration: none;
    color : #969696;
  }

  #delete_post{
    text-decoration: none;
    color : #969696;
  }

  #delete_post:active{
    text-decoration: none;
    color : #969696;
  }
  
  .sum{
    font-size: 13px;
    justify-content: center;
    color: black;
    background-color: #E7ECFF;
    padding: 30px 40px;
    border-radius: 11px;
    text-align: left;
    font-family: NotoSansKR-Regular;
  }
  
  h2 {
    font-size: 14px;
    color : black;
  }
  
  .button-close {
    background-color: transparent;
    font-size: 14px;
    box-shadow: none;
    color: black;
    padding-left: 90%;
    text-align: center;
  }
  
  
  dialog {
    border: none;
    border-radius: 11px;
    animation: appear .8s cubic-bezier(.77,0,.175,1) forwards;
  }
  
  .dialog__animate-out{
    animation: dissappear .8s cubic-bezier(.77,0,.175,1) forwards;
  }
  .dialog__inner {
    color: white;
    width: 15em;
  }

  /* .dialog__content{
    margin: 0px;
  } */
  
  .like{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes dissappear {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  </style>

  {% extends 'base_detail.html' %}

  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style_detail.css' %}">
  
  {% block content %}
  {% for post in posts %}
  <div id="teamA" style=" width:39.5%; background-color: #E7ECFF;border-radius: 11px;float: left;margin:5%;height: 15em;" >
    <p id="teamA_content" style="vertical-align: center;">TeamA 모집중<br><br>
      {{ post.like_count }} / {{post.count}}</p></div>
  <div id="teamB" style="height: 15em; width:39.5%; background-color: #E7ECFF;border-radius: 11px;float: left;margin:5%;">
    <p id="teamB_content" style="vertical-align: center;">TeamB 모집중<br><br>
      {{ post.dislike_count }} / {{post.countB}}<br></p></div>
  
  <!-- 등록날짜 : {{post.pub_date}}<br> -->
  <!-- {{post.end_date}} {{post.start_time}} ~ {{post.end_time}}<br> -->
  <!-- 운동종목 : {{post.exercise}}<br> -->
  <!-- 성별 : {{post.sex}} <br> -->
  <!-- 글쓴사람 : {{post.writer}}<br> -->
  <!-- 방장님 오픈채팅 url : {{ post.url|urlize }} -->
  {% comment %} {{post.url}} {% endcomment %}
  <!-- <p>{{post.body}}</p> -->
  
  {% if user == post.writer %}
  <a id="edit_post" href = "{%url 'post:post_edit' post.id%}">수정하기</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a id="delete_post" href = "{%url 'post:post_delete' post.id%}">방 없애기</a>
  {% endif %}
  
  {% if user == post.writer %}
  
      {% if post.completed is False %}
      <button class="outside">모집 마감하기</button>
      {% else %}
      <button class="outside-finish">모집이 마감되었습니다</button>
      {% endif %}


      <dialog>
        <div class="dialog__inner">
          <button class="button button-close close">╳</button>
          <div class="dialog__content">
            <h3>마감 및 팀배정</h3>
            <p class="sum">
            A팀   {{ post.like_count }} / {{post.count}}  명<br>
            B팀  {{ post.dislike_count }} / {{post.countB}} 명 <br>
           
            <h2>모집 종료 후 팀을 랜덤 배정합니다. <br> 정말 모집을 마감하시겠습니까?</h2>
            <footer>
              <a href="{% url 'post:post_completed' post.id %}" style="text-decoration: none;color:#fff;"><button class="button close">
                모집 마감하기</button></a>
            </footer> 
          </div>  
        </div>
      </dialog>
      
      <script>
        const modal2 = document.querySelector('dialog');
        const btn2 = document.querySelector('button');
        const btnClose2 = document.querySelectorAll('.close');
        
        btn2.addEventListener('click', () => openModal());
        btnClose2.forEach((elm) => elm.addEventListener('click', () => closeModal()));
        modal2.addEventListener('click', (e) => detectBackdropClick(e));
        
        openModal = () => {
          modal2.showModal();
        }
        
        closeModal = () => {
          modal2.classList.add("dialog__animate-out");
          modal2.addEventListener('animationend', handleClose, false);
        }
        
        handleClose = () => {
          modal2.classList.remove("dialog__animate-out");
          modal2.removeEventListener('animationend', handleClose, false);
          modal2.close();
        }
        
        detectBackdropClick = (event) => {
          if(event.target === modal2) {
            closeModal();
          }
        } </script>
      
  
      {% else %}



<!--좋아요를 누르면 팝업이 뜨게 만들기, 여기서 like count가 되야함 / 신청완료하기 = 좋아요 -->


{% if post.completed is False %}
        
  {% if user in post.like_user_set.all or user in post.dislike_user_set.all  %}
  <button class="outside-finish">이미 신청이 완료되었습니다</button>
  {% else %}
  <button class="outside">참여 신청하기</button>
  {% endif %}

      
<dialog>
  <div class="dialog__inner">
    <button class="button button-close close">╳</button>
    <div class="dialog__content">
      <h3 style="margin: 5px; font-family: NotoSansKR-Bold;">신청완료</h3>
      <p class="sum">
      종목  {{post.exercise}}<br>
      날짜  {{post.end_date}}<br>
      시간  {{post.start_time}} ~ {{post.end_time}}<br>
      성별  {{post.sex}} <br></p>
      <h2>정말 신청을 완료하시겠습니까?</h2>
      <footer>
        <button class="button close like" name ="{{post.id}}" value="Like">A팀 신청</button>  
        <button class="button close dislike" name ="{{post.id}}" value="Dislike">B팀 신청 </button>
      </footer> 
    </div>  
  </div>
</dialog>



<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
const modal = document.querySelector('dialog');
const btn = document.querySelector('button');
const btnClose = document.querySelectorAll('.close');

btn.addEventListener('click', () => openModal());
btnClose.forEach((elm) => elm.addEventListener('click', () => closeModal()));
modal.addEventListener('click', (e) => detectBackdropClick(e));

openModal = () => {
  modal.showModal();
}

closeModal = () => {
  modal.classList.add("dialog__animate-out");
  modal.addEventListener('animationend', handleClose, false);
}

handleClose = () => {
  modal.classList.remove("dialog__animate-out");
  modal.removeEventListener('animationend', handleClose, false);
  modal.close();
}

detectBackdropClick = (event) => {
  if(event.target === modal) {
    closeModal();
  }
}
$(".like").click(function(){
            var pk=$(this).attr('name')
            $.ajax({
                type:'POST',
                url:"{% url 'post:like_toggle' post.pk %}",
                data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType:'json',
                success:function(response){
                    if(response.like_count==null){
                        alert('로그인이 필요합니다.');
                        window.location.replace('/accounts/login/');
                    }
                    else{
                        if(response.result=='like'){
                        $('#like-icon').removeClass();
                            $('#like-icon').addClass('fas fa-heart');
                        }
                        else{
                            $('#like-icon').removeClass();
                            $('#like-icon').addClass('far fa-heart');
                        }
                        $('#count-{{post.id}}').html('참여하기 '+response.like_count+"명");
                    }
                },
            })
        })
$(".dislike").click(function(){
            var pk=$(this).attr('name')
            $.ajax({
                type:'POST',
                url:"{% url 'post:dislike_toggle' post.pk %}",
                data:{'pk':pk,'csrfmiddlewaretoken':'{{csrf_token}}'},
                dataType:'json',
                success:function(response){
                    if(response.dislike_count==null){
                        alert('로그인이 필요합니다.');
                        window.location.replace('/accounts/login/');
                    }
                    else{
                        if(response.result=='dislike'){
                        $('#like-icon').removeClass();
                            $('#like-icon').addClass('fas fa-heart');
                        }
                        else{
                            $('#like-icon').removeClass();
                            $('#like-icon').addClass('far fa-heart');
                        }
                        $('#count-{{post.id}}').html('참여하기 '+response.dislike_count+"명");
                    }
                },
              
            })
        })
</script>

{% endif %}
{% endif %}
{% endfor %}
{% endblock %}


