{% extends 'base.html' %}

{% block content %}

<a href="{{ request.META.HTTP_REFERER }}">뒤로가기</a>
<h1>테니스 게시글만 보이는 곳</h1>
<button type="button" onclick="location.href='/post/post_new/';"> 새 팀원 모집하기  </button>

{% for t in tennis_list %}
{%if t.flag_enddate == False %}
<br>
모집 마감일 - {{t.end_date}}
{%endif%}
    <div>
    <h3>{{t.title}}</h3><br>
    {{t.summary}}<br>
    모집 시간대 : {{t.start_time}} ~ {{t.end_time}}<br>
    성별 : {{t.sex}}<br>
    <a href = "{%url 'post:post_detail' t.id%}">참여하기</a>
    </div>
{% endfor %} 

<a href="{% url 'post:completed_tennis_list' %}"> 완료된 게시글 보기</a>
<a href="{% url 'post:tennis_list' %}"> 모집중인 게시글 보기</a>
{% endblock %}