<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style_detail.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CallSign</title>
</head>
<body>{% for post in posts %}
  <!-- <div class="detail"> -->
      <div class="mainHead">
        <a id="back" href="{% url 'post:postlist' %}"><img style="width: 2em;" src="../../static/images/back_white.png"/></a>
        <div class="titleNcount">
          <p id="detail_title">{{post.title}}</p>
          <span id="count-{{post.ids}}" class="alt-services-title font-alt">
            {% if post.like_count == 0 %}
            TeamA&nbsp;&nbsp; 0 / {{post.count}} <br>
            {% else %}
            TeamA&nbsp;&nbsp;    {{ post.like_count }} /  {{post.count}} <br>
            {% endif %}
            {% if post.dislike_count == 0 %}
            TeamB&nbsp;&nbsp; 0 / {{post.countB}} 
            {% else %}
            TeamB&nbsp;&nbsp;   {{ post.dislike_count }} /  {{post.countB}} 
            {% endif %}
          </span>
        </div>
        <p id="detail_body">{{post.body}}</p> 
        
          <!-- 등록날짜 : {{post.pub_date}}<br> -->
        <div class="row_data">
          <p id="detail_date"><img style="width: 1.4em; height: 1.6em;" src="https://i.ibb.co/tQNnSyn/Icon-2.png"/>&nbsp;&nbsp;{{post.end_date}} {{post.start_time}} ~ {{post.end_time}}</p><br>
          <!-- 운동종목 : {{post.exercise}}<br> -->
          <p id="detail_sex"><img style="width: 1.4em; height: 1.6em;" src="https://i.ibb.co/xqBWqPg/Icon-3.png"/>&nbsp;&nbsp;{{post.sex}}</p> <br/>
        </div>
      </div>
      {% endfor %}

      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
  <!-- </div> -->
</body>
</html>