<!DOCTYPE html>
{% load static %}
<html lang="en">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CallSign</title>
</head>
<body>
  <div class="mainHead">
    <!-- <h4 id="logo">CallSign</h4> -->
    <br/><a id="logo" href="{% url 'post:postlist' %}">CallSign</a><br>
    <!-- 로그인 안했을 때 : 로그인 -->
     <button id="mypage" onclick="location.href='{% url 'account_login' %}?next={{ request.path }}';">
      <img style="width: 25px;" src="../../static/images/user.png"/></button>
    <!-- 로그인 했을 때 : 마이페이지, 로그아웃 -->
    {% if user.is_authenticated %}
    <a class="nav-link active"  aria-current="page" href="{% url 'account_logout' %}?next={{ request.path }}"\
    style="position:absolute;top:23px;right:34px;">
      <i class="fa-solid fa-right-from-bracket" style="color:white;width:45px;"></i></a>
    {% if not user.member %}
    <button id="mypage" onclick="location.href='{% url 'accounts:newinfo' %}';">
      <img style="width: 25px;" src="../../static/images/user.png"/></button>
    {% else %} 
      <button id="mypage" onclick="location.href='{% url 'accounts:mypost_list' %}';">
        <img style="width: 25px;" src="../../static/images/user.png"/></button>
    {% endif %}
    {% endif %}
    <button id="newMember" onclick="location.href='/post_new/';"> + 새 팀원 모집하기  </button>
  </div>


<nav class="navbar">
  <ul class="navbar__menu">
      <li><a href="{% url 'post:soccer_list' %}">축구</a></li>
      <li><a href="{% url 'post:basketball_list' %}">농구</a></li>
      <li><a href="{%url 'post:volleyball_list' %}">족구</a></li>
      <li><a href="{%url 'post:baseball_list' %}">야구</a></li>
      <li><a href="{%url 'post:tennis_list' %}">테니스</a></li>
      <li><a href="{%url 'post:badminton_list' %}">배드민턴</a></li>
  </ul>
</nav>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>