<!DOCTYPE html>
{% load static %}
<html lang="en">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="mainHead">
    <h4 id="logo">CallSign</h4>
    <button id="newMember" onclick="location.href='/post/post_new/';"> + 새 팀원 모집하기  </button>
  </div>


  <div class="nav_container">

    <div class="container">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:soccer_list' %}"
              >축구</a>
            
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:basketball_list' %}"
              >농구</a>
            
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:volleyball_list' %}"
              >배구</a>
            
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:baseball_list' %}"
              >야구</a>
            
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:tennis_list' %}"
              >테니스</a>
            
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:badminton_list' %}"
              >배드민턴</a>
          </li>

          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{%url 'post:etc_list' %}"
              >기타</a>
          </li>

          {% if user.is_authenticated %}
          {% if not user.member %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'accounts:newinfo' %}"
              >정보입력</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'account_logout' %}?next={{ request.path }}">로그아웃</a>
          </li>
          {% else %} 
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'accounts:mypage' %}"
              >mypage</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'account_logout' %}?next={{ request.path }}"
              >로그아웃</a>
          </li>
          {% endif %}
          {% else %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'account_signup' %}?next={{ request.path }}"
              >회원가입</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'account_login' %}?next={{ request.path }}"
              >로그인</a>
          </li>
          {% endif%}
    </div>
</div>

<div class="tabs">
  <input id="soccer" type="radio" name="tab_item" checked>
  <label class="tab_item" for="soccer">
    <a id="tab" href="{%url 'post:soccer_list' %}">축구</a></label>
  <input id="basketball" type="radio" name="tab_item">
  <label class="tab_item" for="basketball">
    <a id="tab" href="{%url 'post:basketball_list' %}">농구</a>
  </label>
  <input id="volleyball" type="radio" name="tab_item">
  <label class="tab_item" for="volleyball">
    <a id="tab" href="{%url 'post:volleyball_list' %}">배구</a>
  </label>
  <input id="baseball" type="radio" name="tab_item">
  <label class="tab_item" for="baseball">
    <a id="tab" href="{%url 'post:baseball_list' %}">야구</a>
  </label>
  <input id="tennis" type="radio" name="tab_item">
  <label class="tab_item" for="tennis">
    <a id="tab" href="{%url 'post:tennis_list' %}">테니스</a>
  </label>
  <input id="badminton" type="radio" name="tab_item">
  <label class="tab_item" for="badminton">
    <a id="tab" href="{%url 'post:badminton_list' %}">배드민턴</a>
  </label>

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>