{% comment %} 피그마 보면 운동목록없이 모집 현황, 신청목록란으로 나눠있어서 지웠어요! {% extends 'base.html' %} {% endcomment %} 

{% block content %}
<a id="back" href="{% url 'post:postlist' %}"><img style="width: 2em;" src="../../static/images/back_white.png"/></a>
<li><a href="{% url 'accounts:mypost_list' %}">내 모집글({{posts.count}})</a></li>
<li><a href="{% url 'accounts:mylikepost_list' %}">내 지원글({{like_list.count}})</a></li>



<div class="container">
    <h2>내 지원글</h2>
    {% for like in like_list %}
            {{ like.post.title }}<br>
            {{like.post.start_time}} ~ {{like.post.end_time}} <br>
            <a href = "{%url 'post:post_detail' like.post.id%}">자세히보기</a><br>
            A팀 : {{ like.post.like_count }} /  {{like.post.count}} 명<br>
            B팀 : {{ dislike.post.like_count }} /  {{dislike.post.countB}} 명<br>
            <br>
    {% endfor %}
    {% for dislike in like_list %}
            {{ dislike.post.title }}<br>
            {{dislike.post.start_time}} ~ {{dislike.post.end_time}} <br>
            <a href = "{%url 'post:post_detail' dislike.post.id%}">자세히보기</a><br>
            A팀 : {{ like.post.like_count }} /  {{like.post.count}} 명<br>
            B팀 : {{ dislike.post.like_count }} /  {{dislike.post.countB}} 명<br>
            <br>
    {% endfor %}
</div> 


{% endblock %}