{% comment %} 피그마 보면 운동목록없이 모집 현황, 신청목록란으로 나눠있어서 지웠어요! {% extends 'base.html' %} {% endcomment %} 

{% block content %}
<a href="{% url 'post:postlist' %}">뒤로가기</a>
<li><a href="{% url 'accounts:mypost_list' %}">내 모집글({{posts.count}})</a></li>
<li><a href="{% url 'accounts:mylikepost_list' %}">내 지원글({{like_list.count}})</a></li>



<div class="container">
    <h2>내 지원글 ({{like_list.count}})</h2>
    {% for like in like_list %}
            <a href="{% url 'post:post_detail' like.post.id %}" >{{ like.post.title }}</a><br>
    {% endfor %}
</div> 


{% endblock %}