{% extends 'base.html' %}

{% block content %}


<div class="container">
    <h2>id:{{member.user}}</h2>
    <h2>이름:{{member.name}}</h2>
    <h2>성별:{{member.gender}}</h2>
    <h2>좋아하는 운동:{{member.sports}}</h2>
    <h2> 모집 현황 </h2>
    {% for post in posts %}
    {{ post.like_count }} /  {{post.count}} 명
    {% endfor %}
    <h2>신청 목록</h2>
    {% for like in like_list %}
            <a href="{% url 'post:post_detail' like.post.id %}" >{{ like.post.title }}</a><br>
    {% endfor %}
</div> 


{% endblock %}