{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="new_body">
  <a id="back" href="{% url 'post:postlist' %}"><img style="width: 50px;" src="../../static/images/back.png"/></a>

<div id="tab">
    <a href="{% url 'accounts:mypost_list' %}">내 모집글({{posts.count}})</a>&nbsp;&nbsp;&nbsp;
    <a href="{% url 'accounts:mylikepost_list' %}">내 지원글({{like_list.count}})</a>
</div>



<div class="container">
    <h2>내 모집글</h2>
    {% for post in posts %}
        {{post.title}}<br>
        {{post.start_time}} ~ {{post.end_time}} <br>
        <a href = "{%url 'post:post_detail' post.id%}">자세히보기</a><br>
        A팀 : {{ post.like_count }} / {{post.count}} 명<br>
        B팀 : {{ post.dislike_count }} / {{post.countB}} 명<br>
        <br>
    {% endfor %}
</div> 


{% endblock %}