@font-face {
    font-family: Montserrat_EBI;
    src: url(../font/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../font/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

body{
    margin: 0px;
}

#newTitle {
    font-family: NotoSansKR-Bold;
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 100;
}

#intro {
    font-family: NotoSansKR-Regular;
    font-size: 28px;
    margin-bottom: 80px;
}

#back{
    background-color: white;
    border: none;
    cursor: pointer;
}

.new_body {
    margin: 60px;
}

p{
    text-align: left;
    font-size: 40px;
    border-bottom: solid 5px white;
    margin-bottom: 70px;
}

label{
    color: rgb(0, 0, 0);
    align-items: left;
    font-family: NotoSansKR-Bold;
}

input {
    border: solid 2px gray;
    border-radius: 10px;
    padding: 30px 0px 30px 20px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;
    height: 40px;
    font-size: 35px;
    font-family: NotoSansKR-Bold;
    color: rgb(0, 0, 0);
}

input::placeholder{
    color: #ffffff;
}

input:focus{
    outline : none;
    background-color: #ffffff;
    padding: 30px 200px 30px 20px;
    margin-bottom: 30px;
    height: 40px;
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-family: NotoSansKR-Bold;
}

#signUp_button{
    font-family: NotoSansKR-Bold;
    background-color: #4B70F3;
    border-radius: 25px;
    border: none;
    color: white;
    width: 100%;
    font-size: 38px;
    height: 130px;
    margin-bottom: 30px;
    cursor: pointer;
}

#have_account{
    text-align: center;
    font-family: NotoSansKR-Bold;
    font-size: 30px;
    color: rgb(0, 0, 0);
    margin-bottom: 200px;
}