@font-face {
    font-family: Montserrat_EBI;
    src: url(../font/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: NotoSansKR-Bold;
    src: url(../font/NotoSansKR-Bold.otf);
}

@font-face {
    font-family: NotoSansKR-Regular;
    src: url(../font/NotoSansKR-Regular.otf);
}

body{
    margin: 0px;
    text-align: center;
}

.mainHead {
    background-color: #4B70F3;
    width: cover;
    height: 10.5em;
    border-radius: 0 0 20px 20px;
    text-align: left;
    padding: 40px;
}

/* .detail {
    padding: 60px;
} */

#back{
    background-color: #4B70F3;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.titleNcount{
    display: flex;
    position: absolute;
    float: right; 
}

span{
    color: #ffffff;
    font-family: NotoSansKR-Regular;
    border-radius: 15px;
    width:15em;
    padding: 4px 15px;
    font-size: 0.7em;
    float: right;
    display: flex;
    left: 12.5em;
    top: 1.8em;
    position: absolute;
    margin-left: 50px;
}

#detail_title{
    font-family: NotoSansKR-Bold;
    color: white;
    font-size: 1.3em;
    float: left;
    position: relative;
    width: 200px;
}

#detail_body{
    color: white;
    font-family: NotoSansKR-Regular;
    font-size: 0.8em;
    position: relative;
    top: 4em;
}

#detail_date{
    color: #4B70F3;
    font-family: NotoSansKR-Bold;
    background-color: white;
    border-radius: 15px;
    width:fit-content;
    padding: 4px 13px;
    font-size: 0.5em;
    float: left;
    display: flex;
    position: relative;
}

#detail_sex{
    color: #4B70F3;
    font-family: NotoSansKR-Bold;
    background-color: white;
    border-radius: 13px;
    width:fit-content;
    padding: 4px 15px;
    font-size: 0.5em;
    float: right;
    display: flex;
    position: relative;
    margin-left: 12px;
}

.row_data{
    display: flex;
    position: absolute;
    float: right; 
    top: 11em;
}

.outside{
    font-family: NotoSansKR-Bold;
    background-color: #4B70F3;
    border-radius: 18px;
    border: none;
    color: white;
    width: 90%;
    font-size: 0.8em;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

button{
    align-items: center;
}

#teamA_content{
    font-family: NotoSansKR-Bold;
    font-size: 1em;
    margin-top: 100px;
    color:#4B70F3;
}

#teamB_content{
    font-family: NotoSansKR-Bold;
    font-size: 1em;
    margin-top: 100px;
    color:#4B70F3;
}